:root{

    --primary:#1a73e8;
    --border:#dadce0;

    --text:#202124;
    --muted:#5f6368;

    --bg:#ffffff;

    --radius:12px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:
    Arial,
    Helvetica,
    sans-serif;

    background:#ffffff;

    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:20px;
}

.login-container{
    width:100%;
    max-width:450px;
}

.login-card{

    background:white;

    border:1px solid var(--border);

    border-radius:28px;

    padding:48px 40px;

    width:100%;
}

.brand{
    margin-bottom:35px;
}

.brand h1{

    font-size:32px;
    font-weight:400;

    color:var(--text);

    margin-bottom:10px;
}

.brand p{

    color:var(--muted);

    font-size:16px;
}

.input-group{

    margin-bottom:20px;
}

.input-group label{

    display:block;

    margin-bottom:8px;

    color:var(--text);

    font-size:14px;
}

.input-group input{

    width:100%;

    height:54px;

    border:1px solid var(--border);

    border-radius:8px;

    padding:0 16px;

    font-size:15px;

    outline:none;

    transition:.2s;
}

.input-group input:focus{

    border-color:var(--primary);

    box-shadow:
    0 0 0 1px var(--primary);
}

.brand .babbage{
    font-size: 10px;
    color: grey;
}

button{


    width:100%;

    height:48px;

    border:none;

    border-radius:24px;

    background:#ff8800;

    color:white;

    font-size:15px;

    font-weight:500;

    cursor:pointer;

    margin-top:10px;

    transition:.2s;
}

button:hover{

    opacity:.95;
}

.footer-text{

    margin-top:30px;

    text-align:center;

    font-size:13px;

    color:var(--muted);
}

@media(max-width:600px){

    .login-card{

        padding:35px 25px;

        border-radius:20px;
    }

    .brand h1{

        font-size:28px;
    }
}